@-moz-document domain("www.wakanim.tv") {
#jwplayer-container {
  --text-color: rgba(255, 255, 255, 100%);
  --text-size: 0.8em;
  --background-color: rgba(0, 0, 0, 75%);
}

#jwplayer-container .jw-text-track-display {
	background-color: var(--background-color) !important;
  padding: 0.25rem 1rem !important;
}

#jwplayer-container .jw-text-track-cue {
  color: var(--text-color) !important;
  text-shadow: unset !important;
  font-size: var(--text-size) !important;
}
}
